<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talent.infrastructure.repository.mapper.ProgramShutsuenMapper">
  <resultMap id="BaseResultMap" type="com.talent.infrastructure.dto.ProgramShutsuenDto" autoMapping="true">
    <result column="PROGRAM_NAME" jdbcType="VARCHAR" property="programName" />
    <result column="GENRE" jdbcType="VARCHAR" property="programGenre" />
    <result column="TALENT_ID" jdbcType="VARCHAR" property="talentId" />
    <result column="TALENT_NAME" jdbcType="VARCHAR" property="talentName" />
  </resultMap>

  <select id="select" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
      c."PROGRAM_NAME",
      d."GENRE",
      b."TALENT_ID",
      b."TALENT_NAME"
    FROM
      "T_ONAIR_KANRI" a
    INNER JOIN
      "M_TALENT" b ON a."TALENT_ID" = b."TALENT_ID"
    INNER JOIN
      "M_PROGRAM" c ON a."PROGRAM_ID" = c."PROGRAM_ID"
    INNER JOIN
      "M_KBN_GENRE" d ON d."GENRE_ID" = 1  AND
      c."GENRE_ID" = d."JYUNJYO"
    WHERE
      a."PROGRAM_ID" = #{programId,jdbcType=VARCHAR}
      AND a."ONAIR_DAY" = CAST(#{onAirDay,jdbcType=VARCHAR} AS TIMESTAMP) 
      AND a."DELETE_FLG" = 0  AND b."DELETE_FLG" = 0  AND c."DELETE_FLG" = 0  AND d."DELETE_FLG" = 0
  </select>
</mapper>